
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

/*  CSS3 styles */

input, textarea {
    
    -mox-border-radius: 6px;
    -weblit-border-radius: 6px;
    border-radius: 6px;
}



#wrapper {
    margin: 50px auto; /* 50px from the top and auto centered */
}

#form {
    margin: 0px auto;
    width:50%;
} 

h2 { 
	color: white; 
	background-color: #666; 
	height: 30px; 
	padding: 10px;
}

label {
    display: block;
    margin-top: 20px;
}

/* Style the text boxes */
input, textarea {
	width: 80%;
	background: #efefef;
	border: 1px solid #ddd;
	font-size: 0.9em;
	color: #666;
	height: 40px;	
	padding: 10px;
	margin-top: 3px;	
}



textarea {
	height:213px;
	color: #666;
}



input:focus, textarea:focus {
	
    border:1px solid #99cc66;
}

#submit {
    width:97px;
    height:43px;
    background:url('images/send_btn.png');
    text-indent:-9999px;
    border:none;
    margin-top:20px;
    cursor:pointer;
}

	#submit:hover {
	    opacity:0.9;
	}

